* {
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: monospace;
  text-align: center;
}

nav {
  overflow: hidden;
  height: 80px;
  line-height: 80px;
  background: #EFEFEF;
}

nav h1 {
  margin: 0;
}

.col {
  float: left;
  padding: 0 5px;
}

.col-6 {
  width: 50%;
  width: -webkit-calc( 100% / 2 );
  width: -moz-calc( 100% / 2 );
  width: -ms-calc( 100% / 2 );
  width: -o-calc( 100% / 2 );
  width: calc( 100% / 2 );
  border: 1px solid #EFEFEF;
}

.space {
  height: -webkit-calc(100vh - 80px);
  height: -moz-calc(100vh - 80px);
  height: -ms-calc(100vh - 80px);
  height: -o-calc(100vh - 80px);
  height: calc(100vh - 80px);
  overflow-y: auto;
}

.giphy img {
  display: block;
  margin: 0 auto 10px auto;
  max-width: 100%;
}

.content {
  height: 100vh;
}
